body {
    background-color: lightslategrey;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#title {
    
}

#topbar {
    background-color: lightslategrey;
    text-align: center;
}

.topnav {
    background-color: #115687;
    border-radius: 5px;
    display: inline-block;
    overflow:hidden;
    text-align: center;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #308d9d;
    text-decoration: underline;
}



h2 {
    margin: auto;
    margin-bottom: 20px;
}

.courses {
    list-style-type: none;
    display: inline-flex;
    padding-bottom: 10px;
}

.courses > a {
    padding: 2px;
}

.container {
    text-align: center;
}

h3 {
    text-decoration: underline;
}

img {
    border-radius: 15px;
    margin-bottom: 15px;
}

.fa {
    font-size: 25px;
}

.copyright {
    margin-top: 20px;
}